/* .xxx {
  @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
} */
i.headerbtn {
  font-size: 16px;
  position: relative;
  margin-left: -1rem;
  padding-right: 5px;
  color: #111319;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0; }
  i.headerbtn:hover {
    cursor: pointer; }

h1:hover i.headerbtn,
h2:hover i.headerbtn,
h3:hover i.headerbtn {
  opacity: 1;
  visibility: visible; }
