<footer class="mt-5 pt-5">
  <div class="container w-100">
    <div class="row">
      <div class="col-md-6">
        <strong>CREDITS</strong>
        <table class="table table-sm">
          <tr>
            <td>Main Directors:</td>
            <td><a target="_blank" href="https://www.cs.montana.edu/brittany/">Brittany Fasy</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a target="_blank" href="http://www.math.montana.edu/shancock/">Stacey Hancock</a></td>
          </tr>
          <tr>
            <td></td>
            <td>Suzie Hockel</td>
          </tr>
          <tr>
            <td></td>
            <td><a target="_blank" href="https://www.cs.montana.edu/dave/mySite/index.html">David Millman</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a target="_blank" href="https://www.cs.montana.edu/veronika/">Veronika Strnadova-Neeley</a></td>
          </tr>

          <tr>
            <td>Assistants:</td>
            <td>Robin Belton</td>
          </tr>
          <tr>
            <td></td>
            <td>Ben Holmgren</td>
          </tr>
          <tr>
            <td></td>
            <td>Emily Flanagan</td>
          </tr>
          <tr>
            <td></td>
            <td>Britney Gibbs</td>
          </tr>
          <tr>
            <td></td>
            <td>Anna Schenfisch</td>
          </tr>
          <tr>
            <td></td>
            <td>Jordan Schupbach</td>
          </tr>
          <tr>
            <td></td>
            <td>Harish Thiruvalluvan</td>
          </tr>
          <tr>
            <td></td>
            <td>James Wilson</td>
          </tr>
        </table>
        <p class="text-muted">
          Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}
        </p>
      </div>
      <div class="col-md-6">
        <strong>CONTACT</strong>
        <table class="table table-sm">
          <tr><td><a target="_blank" href="https://github.com/comptag">Github</a></td></tr>
        </table>
      </div>
    </div>
  </div>
</footer>
