<ul class="sidebar-nav">
    <li data-toggle="tooltip" data-placement="left" data-original-title="Homepage">
        <a href="{{site.url}}{{site.baseurl}}/index.html">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
    </li>
    <li data-toggle="tooltip" data-placement="left" data-original-title="Workshops">
        <a href="{{site.url}}{{site.baseurl}}/index.html#workshops">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Workshops
        </a>
    </li>

    <li data-toggle="tooltip" data-placement="left" data-original-title="Schedule">
        <a href="{{site.url}}{{site.baseurl}}/index.html#schedule">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            Schedule
        </a>
    </li>

    <li data-toggle="tooltip" data-placement="left" data-original-title="Instructions">
        <a href="{{site.url}}{{site.baseurl}}/index.html#instructions">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            Instructions
        </a>
    </li>
</ul>
