<ul class="sidebar-nav">
    <li data-toggle="tooltip" data-placement="left" data-original-title="Homepage">
        <a href="{{site.url}}{{site.baseurl}}/index.html">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
    </li>
    <li data-toggle="tooltip" data-placement="left" data-original-title="Workshops">
        <a href="{{site.url}}{{site.baseurl}}/index.html#workshops">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            Workshops
            <span class="pull-right ">{{ site.posts.size}}</span>
        </a>
    </li>

    <li data-toggle="tooltip" data-placement="left" data-original-title="Schedule">
        <a href="{{site.url}}{{site.baseurl}}/index.html#schedule">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            Schedule
            <span class="pull-right ">{{ site.posts.size}}</span>
        </a>
    </li>

    <li data-toggle="tooltip" data-placement="left" data-original-title="Instructions">
        <a href="{{site.url}}{{site.baseurl}}/index.html#instructions">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            Instructions
            <span class="pull-right ">{{ site.posts.size}}</span>
        </a>
    </li>
</ul>
