<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="page-header d-flex justify-content-between align-items-center" id="workshops">
          <h3 class="">Workshops</h3>
        </div>

        <ul class="ant-timeline" id="workshoplist">

          {% comment %} Stickie list {% endcomment %}
          {% for post in site.posts %}

          {% if post.stickie != true %}
          {% continue %}
          {% endif %}

          {% if post.hideinpostslist == true %}
          {% continue %}
          {% endif %}


          <li class="ant-timeline-item">
            <!-- index start from 1 -->
            <div class="ant-timeline-item-head ant-timeline-item-head-blue">
            </div>
            <div class="ant-timeline-item-content">
              <span class="badge badge-danger d-lg-inline-block d-none">{{ post.date | date: "%Y-%m-%d" }} </span>
              <span class="align-items-center post-title">
                <a class="post-link text-danger h6 text-danger font-weight-bold"
                  href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
              </span>
            </div>
          </li>
          {% endfor %}


          {% comment %} Normal post list {% endcomment %}
          {% for post in site.posts %}

          {% comment %} If we dont wanna it show in post list{% endcomment %}
          {% if post.hideinpostslist == true %}
          {% continue %}
          {% endif %}

          {% comment %} If it already showed in stickie list {% endcomment %}
          {% if post.stickie == true %}
          {% continue %}
          {% endif %}

          <li class="ant-timeline-item">
            <!-- index start from 1 -->
            <div class="ant-timeline-item-head ant-timeline-item-head-blue">
            </div>
            <div class="ant-timeline-item-content">
              <span class="align-items-center post-title">
                <a class="post-link h6 font-weight-bold" href="{{site.url}}{{site.baseurl}}{{ post.url}}">{{ post.title }}</a>
              </span>
            </div>
          </li>
          {% endfor %}
        </ul>
            <!-- <div class="pagination"></div> -->

        <div class="page-header d-flex justify-content-between align-items-center" id="schedule">
          <h3 class="">Schedule</h3>
        </div>

        <div>
        <table class="table table-sm">
          <tr>
            <td>Time</td>
            <td>Topic</td>
            <td>Instructor</td>
          </tr>
          <tr>
            <td>9:00-9:15</td>
            <td>Registration</td>
            <td></td>
          </tr>
          <tr>
            <td>9:15-10:30</td>
            <td>What is Data?</td>
            <td>Dr. Hancock</td>
          </tr>
          <tr>
            <td>10:30-10:45</td>
            <td>Break</td>
            <td></td>
          </tr>
          <tr>
            <td>10:45-12:00</td>
            <td>From Data to Topological Descriptors</td>
            <td>Dr. Fasy</td>
          </tr>
          <tr>
            <td>12:00-13:00</td>
            <td>Lunch</td>
            <td></td>
          </tr>
          <tr>
            <td>13:00-14:15</td>
            <td>From Topological Descriptors to Clustering</td>
            <td>Dr. Neeley</td>
          </tr>
          <tr>
            <td>14:15-14:30</td>
            <td>Break</td>
            <td></td>
          </tr>
          <tr>
            <td>14:30-15:45</td>
            <td>The (Topological) Data Cycle</td>
            <td>Dr. Millman</td>
          </tr>
          <tr>
            <td>15:45-16:00</td>
            <td>Break</td>
            <td></td>
          </tr>
          <tr>
            <td>16:00-17:00</td>
            <td>Concluding Panel and Reception</td>
            <td></td>
          </tr>
        </table>
        </div>
      </div>

      <div class="col-md-5">

        <div class="page-header d-flex justify-content-between align-items-center" id="instructions">
          <h3 class="">Pre-Workshop Instructions</h3>
        </div>

        <div>
        </div>

        <div>

      </div>


    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
